<div class="row container-card">
  <div
    class="col-12 card-cible col-lg-4 mt-4"
    *ngFor="
      let item of tbCmpCh | paginate: { itemsPerPage: 4, currentPage: page };
      let indice = index
    "
  >
    <mat-card class="example-card">
      <div class="user_profil">
        <span (click)="resetCarUser()" class="retourUser"
          ><i class="fas fa-chevron-left"></i
        ></span>
        <div class="imgUser">
          <img
            class="img-circle"
            src="https://cdn.pixabay.com/photo/2021/09/04/16/51/girl-6598198__340.jpg"
            alt="Cinque Terre"
          />
        </div>
        <!--...................LE CARDE DE L'INFO USER..............................-->
        <div class="user_info">
          <div class="userVisible" *ngIf="fantome == 'false'">
            <div class="nomUser">{{ nom | uppercase }}</div>
            <div class="prenomUser">{{ prenom | uppercase }}</div>
            <div class="promoUser">{{ promo }}</div>
          </div>
          <div class="fantome" *ngIf="fantome == 'true'">
            <b class="txtfantome" mat-menu-item>FANTOME ...</b>
          </div>
        </div>
      </div>
      <!--...................LE CARDE DE L'INFO NBR REPONSE..............................-->
      <div class="nbrReponse">
        <img
          *ngIf="image == 1"
          class="imgNbrReponse"
          src="https://images.pexels.com/photos/1122639/pexels-photo-1122639.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 2"
          src="https://images.pexels.com/photos/561463/pexels-photo-561463.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 3"
          src="https://images.pexels.com/photos/6765725/pexels-photo-6765725.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 4"
          src="https://images.pexels.com/photos/355321/pexels-photo-355321.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 5"
          src="https://images.pexels.com/photos/2347011/pexels-photo-2347011.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 6"
          src="https://images.pexels.com/photos/3800363/pexels-photo-3800363.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 7"
          src="https://images.pexels.com/photos/709552/pexels-photo-709552.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 8"
          src="https://images.pexels.com/photos/4904563/pexels-photo-4904563.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 9"
          src="https://images.pexels.com/photos/2115256/pexels-photo-2115256.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <img
          class="imgNbrReponse"
          *ngIf="image == 10"
          src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="ecmImageBg"
        />
        <div class="parentNbr">
          <div class="Reponse">
            <p class="txtReponse">Reponse (s)</p>
            <p class="txtReponse">{{ nbrReponse }}</p>
          </div>
          <div class="cochee">
            <p class="txtReponse">Cochée (s)</p>
            <p class="txtReponse">{{ nbrReponseCoche }}</p>
          </div>
          <span (click)="resetCardNbr()" class="retourUserNbr"
            ><i class="fas fa-chevron-left"></i
          ></span>
        </div>
      </div>
      <mat-card-subtitle>
        <div class="row ligne-date">
          <span class="date"
            ><p class="txt-date">
              {{ item.date | date: "short" }}
            </p></span
          >
        </div>
        <div class="row ligne-user">
          <span class="user">
            <button
              type="button"
              class="btn user"
              (click)="onViewUser(item.user_Id, indice)"
            >
              <i class="fas fa-user-edit"></i>
            </button>
          </span>
        </div>
      </mat-card-subtitle>
      <mat-divider inset></mat-divider>
      <mat-card-title
        ><div class="row ligne-titre">
          <span class="titre">
            {{ item.titre | titlecase | slice: 0:7 }} ...</span
          >
        </div></mat-card-title
      >
      <mat-card-content>
        <div class="row ligne-details">
          <span
            class="detail details overflow-auto p-2 mr-3"
            style="width: 100%; height: 60px"
            ><p class="txt-details">{{ item.details }} ...</p></span
          >
        </div>
        <div class="row ligne-language">
          <span class="language"
            ><p class="txt-language">
              {{ item.language | uppercase | slice: 0:15 }}...
            </p></span
          >
        </div>
        <div class="row ligne-btn-details">
          <span class="bloc-btn-details">
            <button
              type="button"
              class="btn btn-outline-primary btn-details"
              [ngClass]="{ 'open-btn-details': open_btn_details }"
              (click)="onNavigate(item.bug_Id)"
            >
              <i class="far fa-eye"></i>
              Détails
            </button>
          </span>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <div [ngClass]="{ 'bloc-btn': true, 'bloc-btn-open-btn': open_btn }">
          <span [ngClass]="{ 'ligne-animation': ligne_animation }"></span>
          <span [ngClass]="{ 'ligne-animation': ligne_animation }"></span>
          <span [ngClass]="{ 'ligne-animation': ligne_animation }"></span>
          <span [ngClass]="{ 'ligne-animation': ligne_animation }"></span>
          <!--....................... btn Nbr Reponse ....................-->

          <button
            (click)="onViewNbrReponse(item.bug_Id, indice)"
            type="button"
            class="btn btn-outline-primary btn-nbr-reponse"
          >
            <i class="far fa-question-circle"></i>
          </button>

          <!--....................... btn CHANGER_ETAT....................-->
          <button
            (click)="onChangeEtatBug(item.bug_Id)"
            type="button"
            class="btn btn-outline-primary btn-changer-etat"
            [ngStyle]="{
              color: item.etat == 'Résolu' ? 'green' : 'red'
            }"
            [disabled]="item.user_Id !== user_Id_Connect"
          >
            <i class="far fa-thumbs-up" *ngIf="item.etat == 'Résolu'"></i>
            <i class="far fa-thumbs-down" *ngIf="item.etat == 'Non Résolu'"></i>
          </button>
          <!--....................... btn Update....................-->
          <button
            (click)="onUpdateBug(item.bug_Id)"
            type="button"
            class="btn btn-outline-primary btn-update"
            [disabled]="item.user_Id !== user_Id_Connect"
          >
            <i class="far fa-edit"></i>
          </button>
          <!--....................... btn delete....................-->
          <button
            (click)="onDeletBug(item.bug_Id)"
            type="button"
            class="btn btn-outline-danger"
            [disabled]="item.user_Id !== user_Id_Connect"
          >
            <i class="fas fa-archive alert-danger"></i>
          </button>
        </div>
      </mat-card-actions>
      <mat-card-footer>
        <div
          *ngIf="item.etat == 'Non Résolu'"
          class="m-2 spinner-grow text-warning"
        ></div>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="row">
    <div class="col-12 paginate">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
