<div class="container">
  <div class="alert alert-info mt-3">
    <div class="row cadre">
      <div
        *ngIf="fantomeUserPlugin == 'false'"
        class="blocNom col-12 col-md-8 col-lg-8"
      >
        <p class="nomUser">
          {{ nomUserPlugin }} {{ prenomUserPlugin }} faye diop
        </p>

        <p class="nomUser">{{ promoUserPlugin }}</p>
      </div>
      <div
        *ngIf="fantomeUserPlugin == 'true'"
        class="blocNom col-12 col-md-8 col-lg-8"
      >
        <h2 class="txtFantome">fantôme</h2>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          <div class="col- 12">
            <strong>language</strong><br />
            {{ pluginCmp.language }}
          </div>
        </div>
        <div class="row">
          <div class="col- 12">
            <strong>Date de la Poste</strong><br />
            {{ pluginCmp.date }}
          </div>
        </div>

        <div class="row">
          <div class="col- 12">
            <strong>Nombres de commentaire (s)</strong><br />
            {{ pluginCmp.tbCommentaire.length }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>{{ pluginCmp.documentation }}</p>
  <p>{{ pluginCmp.code }}</p>
  <div class="form-group">
    <textarea
      class="form-control"
      [(ngModel)]="commentaire"
      minlength="2"
      maxlength="500"
      placeholder="Votre commentaire ici max 500 caractères..."
      cols="5"
    ></textarea>
  </div>

  <button
    (click)="onSubmitForm()"
    [disabled]="commentaire.length < 2 || diseableBtnEnregistre"
    class="btn btn-sm"
    style="color: white; font-weight: bold"
  >
    Commenter
  </button>
  <button style="color: red" (click)="onResetForm()" class="btn btn-sm">
    Annulez
  </button>

  <div
    class="container mb-3 overflow-auto p-2 mr-3"
    style="width: 100%; min-height: auto; max-height: 800px"
    *ngIf="pluginCmp.tbCommentaire.length !== 0"
  >
    <div class="row" *ngFor="let commentaire of pluginCmp.tbCommentaire">
      <div class="col-12">
        <p style="color: white" class="txtdateCommentaire mt-3">
          {{ commentaire.dateCommentaire }}
        </p>
      </div>
      <div class="col-12 blcInfUserCommentaire">
        <span class="iconUser">
          <i class="fas fa-user-edit"></i>
        </span>
        <span class="infoUser">{{ commentaire.nomUser }} </span>
        <span class="infoUser">{{ commentaire.prenomUser }} </span>
        <span class="infoUser">{{ commentaire.promoUser }} </span>
      </div>
      <div class="col-12">
        <p class="textecommentaire">
          {{ commentaire.commentaire }}
        </p>
      </div>
      <div class="col-12">
        <button
          [disabled]="commentaire.Id_User != user_Id_Connect"
          class="btnDeleleCommentaire btn btn-sm"
          (click)="
            onVerifyUser(commentaire.Id_User, commentaire.dateCommentaire)
          "
        >
          <span>Supprimer</span>
        </button>
      </div>
    </div>
  </div>
</div>
