.container {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
}
mat-form-field {
  width: 160px;
}
button {
  margin: 5px;
}

.bloc-anim {
  visibility: hidden;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.blocks {
  z-index: 20;
  position: absolute;
  left: 50%;
  top: -12px;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 25px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 8px;
  transform: rotate(calc(18deg * var(--i)));
  transform-origin: 0 100px;
  animation: animationVerification 1.5s ease-in-out infinite;
  animation-delay: calc(0.05s * var(--i));
}

.patiente {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: bold;
  color: rgb(0, 17, 255);
}
@keyframes animationVerification {
  0%,
  50% {
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    );
    box-shadow: none;
  }
  51%,
  100% {
    background: rgb(0, 17, 255);
    box-shadow: 0 0 5px rgb(0, 17, 255), 0 0 15px rgb(0, 17, 255),
      0 0 30px rgb(0, 17, 255), 0 0 60px rgb(0, 17, 255),
      0 0 90px rgb(0, 17, 255);
  }
}
