<div class="container">
  <!--
  <ng-particles
    style="height: 1000px"
    class="particle"
    [id]="id"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"
    (particlesInit)="particlesInit($event)"
  >
  </ng-particles>

  -->
  <div class="container-fluid">
    <div class="jumbotron jumbotron-fluid mt-3">
      <div class="row">
        <div class="col-12">
          <app-notify-app-plugin
            [nomUserNotify]="nomUserNotify"
            [ppUserNotify]="ppUserNotify"
          ></app-notify-app-plugin>
        </div>
      </div>
    </div>
    <!-- ..................... Partie Chargement .............................-->
    <div *ngIf="chargement">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>

      <div class="m-2 spinner-grow text-warning">
        <span class="initiale">E</span>
      </div>
      <div class="m-2 spinner-grow text-success">
        <span class="initiale">C</span>
      </div>
      <div class="m-2 spinner-grow text-primary">
        <span class="initiale">M</span>
      </div>
    </div>

    <!-- .......................... Partie Recherche ........................................-->

    <div class="row">
      <div class="col-12 parent-search form-group">
        <input
          type="text"
          class="form-control"
          #datalangLength
          (keyup)="search(datalangLength.value)"
          maxlength="15"
          placeholder=" Entrez le language de programmation a recherché ... Java Php ect ..."
        />
      </div>
    </div>
    <!-- ..................... Partie menu de Nav .............................-->
    <div class="row">
      <div class="col-12 menurecherche">
        <mat-tab-group
          animationDuration="2000ms"
          (selectedTabChange)="tabChanged($event)"
        >
          <mat-tab label="ALL"
            ><h3>
              Tout les Plugins
              <span style="background-color: blue" class="badge badge-secondary"
                >{{ tbAppPluginSearh.length }}
              </span>
            </h3></mat-tab
          >
          <mat-tab label="MES PLUGINS">
            <h3>
              Vos Plugins (s)
              <span style="background-color: blue" class="badge badge-primary"
                >{{ tbAppPluginSearh.length }}
              </span>
            </h3></mat-tab
          >

          <mat-tab label="PLUGIN (S) MODIFIE (S)"
            ><h3>
              Plugins (s) Modifié (s)
              <span style="background-color: blue" class="badge badge-primary"
                >{{ tbAppPluginSearh.length }}
              </span>
            </h3></mat-tab
          >
        </mat-tab-group>
      </div>
    </div>

    <div class="row">
      <div
        class="col-12 col-lg-4 mt-4 card-cible"
        *ngFor="
          let item of tbAppPluginSearh
            | paginate: { itemsPerPage: 4, currentPage: page };
          let indice = index
        "
      >
        <mat-card class="example-card">
          <div class="blocInfoUser">
            <div class="nomUserPlugin">
              <div class="nameUser" *ngIf="fantome == 'false'">
                <b class="infoUser"
                  >{{ prenomUser | uppercase }}  {{ nomUser | uppercase }}</b
                >
                <p class="infoUser">{{ promoUser }}</p>
              </div>
              <!--Si le user est en mode fantome-->
              <div class="fantome" *ngIf="fantome == 'true'">
                <b class="infoUser ">FANTOME ...</b>
              </div>
            </div>
            <span (click)="resetCarUser()" class="retourUser"
              ><i style="color: black;" class="fas fa-chevron-left"></i
            ></span>
            <img
              *ngIf="fantome == 'false'"
              class="srcimg"
              [src]="ppUserPlugin"
              alt="image de l'utilisateur"
            />
            <img
              *ngIf="fantome == 'true'"
              class="srcimg"
              src="https://images.pexels.com/photos/5380612/pexels-photo-5380612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="image de l'utilisateur"
            />
          </div>
          <mat-card-subtitle class="animmat-card-subtitle">
            <div class="row">
              <div class="col-12">
                <span class="date">{{ item.date }}</span>
              </div>
              <div class="col-12">
                <mat-menu #aboveMenu="matMenu" yPosition="above">
                  <!--Si le user n'est pas en mode fantome-->
                  <div *ngIf="fantome == 'false'">
                    <b class="infoUser" mat-menu-item
                      >{{ prenomUser | uppercase }}{{ nomUser | uppercase }}</b
                    >
                    <p class="infoUser" mat-menu-item>{{ promoUser }}</p>
                  </div>
                  <!--Si le user est en mode fantome-->
                  <div *ngIf="fantome == 'true'">
                    <p><b class="infoUser" mat-menu-item>FANTOME ...</b></p>
                  </div>
                </mat-menu>
                <li
                  title="Information du User"
                  (click)="onViewInfoUser(item.userId, indice)"
                  class="list-group-item liUser"
                  [ngClass]="{
                    liUserbtn: deployerbtnUser
                  }"
                >
                  <a class="aUser"> <i class="fas fa-user-injured"></i></a>
                </li>

                <!-- partie icone View-->
                <span class="c" *ngIf="tbViewUserCharged">
                  <span
                    [ngClass]="{ default: true, viewUser: tbViewUser[indice] }"
                  >
                    <i class="fas fa-check-double"></i>
                  </span>
                </span>
                <!-- partie icone Alert-->
                <span
                  class="newCommentaire"
                  *ngIf="
                    tbSignalCommentaireUserCharged &&
                    tbViewCommentaireUserCharged
                  "
                >
                  <span
                    *ngIf="
                      tbSignalCommentaireUser[indice] &&
                      tbViewCommentaireUser[indice]
                    "
                    class="m-2 spinner-grow-no-width spinner-grow text-primary"
                    ><i class="fas fa-comment-dots"></i>
                  </span>
                </span>
              </div>
            </div>
          </mat-card-subtitle>

          <mat-card-title class="animmat-card-title">
            <p class="titre">{{ item.language }}</p></mat-card-title
          >
          <mat-card-content
            class="overflow-auto p-2 mr-3"
            style="width: 100%; height: 60px"
          >
            <p class="documentation">{{ item.documentation }}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-menu #aboveMenuNbr="matMenu" yPosition="above">
            <!--Si le user n'est pas en mode fantome-->
            <div *ngIf="nbrCommentaire == 0">
              <b mat-menu-item>Cet plugin n'a pas de commentaire</b>
            </div>
            <!--Si le user est en mode fantome-->
            <div *ngIf="nbrCommentaire > 0">
              <p>
                <b mat-menu-item
                  >Cet plugin a {{ nbrCommentaire }} commentaire (s)
                </b>
              </p>
            </div>
          </mat-menu>
          <mat-card-actions>
            <ul class="list-group">
              <li
                title="Voir les détails du plugin"
                (click)="viewPlugin(item)"
                class="list-group-item view btnliste"
                [ngClass]="{ btnView: deployerbtnView }"
              >
                <a><i class="far fa-eye"></i></a>
              </li>

              <li
                [matMenuTriggerFor]="aboveMenuNbr"
                title="Voir le nombre de commentaire (s)"
                (click)="nbrPlugin(item._id)"
                class="list-group-item nbr btnliste"
                [ngClass]="{ btnnbr: deployerbtnnbr }"
              >
                <a><i class="fas fa-question"></i></a>
              </li>
              <li
                *ngIf="item.userId == user_Id_Connect"
                title="Modifié le plugin"
                (click)="updatePlugin(item)"
                class="list-group-item update btnliste"
                [ngClass]="{ btnupdate: deployerbtnupdate }"
              >
                <a routerLinkActive="router-link-active"
                  ><i class="far fa-edit"></i
                ></a>
              </li>
              <li
                *ngIf="item.userId == user_Id_Connect"
                title="Supprimé le plugin"
                (click)="deletePlugin(item)"
                class="list-group-item delete btnliste"
                [ngClass]="{ btndelete: deployerbtndelete }"
              >
                <a><i class="fas fa-minus-circle"></i></a>
              </li>
            </ul>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <!-- ......................................PAGINATION ....................................-->

    <div class="row">
      <div class="col-12 paginate mt-4">
        <pagination-controls
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
