<div class="img01"></div>

<div class="container-form">
  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
    <div class="row">
      <!-- Partie du cour-->
      <div class="col-12 col-md-4">
        <div class="form-group mt-4">
          <mat-form-field appearance="outline">
            <mat-label>Entrez le nom du cour</mat-label>
            <input
              required
              #courLength
              matInput
              type="text"
              placeholder="Language Php , Anglais ..."
              formControlName="cour"
            />
            <mat-hint>Nom du cour</mat-hint>
            <mat-hint align="end">{{ courLength.value.length }}/50</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <!-- Partie du titre-->
      <div class="col-12 col-md-4">
        <div class="form-group mt-4">
          <mat-form-field appearance="outline">
            <mat-label>Selectionner le titre</mat-label>
            <mat-select formControlName="titre">
              <mat-optgroup>
                LICENSE 1 SEMESTRE 1
                <mat-option value="l1-s1-séquence-1">Séquence : 1</mat-option>
                <mat-option value="l1-s1-séquence-2">Séquence : 2</mat-option>
                <mat-option value="l1-s1-séquence-3">Séquence : 3</mat-option>
                <mat-option value="l1-s1-séquence-4">Séquence : 4</mat-option>
              </mat-optgroup>
              <mat-optgroup>
                LICENSE 1 SEMESTRE 2
                <mat-option value="l1-s2-séquence-1">Séquence : 1</mat-option>
                <mat-option value="l1-s2-séquence-2">Séquence : 2</mat-option>
                <mat-option value="l1-s2-séquence-3">Séquence : 3</mat-option>
                <mat-option value="l1-s2-séquence-4">Séquence : 4</mat-option>
              </mat-optgroup>
              <mat-optgroup>
                LICENSE 2 SEMESTRE 1
                <mat-option value="l2-s1-séquence-1">Séquence : 1</mat-option>
                <mat-option value="l2-s1-séquence-2">Séquence : 2</mat-option>
                <mat-option value="l2-s1-séquence-3">Séquence : 3</mat-option>
                <mat-option value="l2-s1-séquence-4">Séquence : 4</mat-option>
              </mat-optgroup>
              <mat-optgroup>
                LICENSE 2 SEMESTRE 2
                <mat-option value="l2-s2-séquence-1">Séquence : 1</mat-option>
                <mat-option value="l2-s2-séquence-2">Séquence : 2</mat-option>
                <mat-option value="l2-s2-séquence-3">Séquence : 3</mat-option>
                <mat-option value="l2-s2-séquence-4">Séquence : 4</mat-option>
              </mat-optgroup>
              <mat-optgroup>
                LICENSE 3 SEMESTRE 1
                <mat-option value="l3-s1-séquence-1">Séquence : 1</mat-option>
                <mat-option value="l3-s1-séquence-2">Séquence : 2</mat-option>
                <mat-option value="l3-s1-séquence-3">Séquence : 3</mat-option>
                <mat-option value="l3-s1-séquence-4">Séquence : 4</mat-option>
              </mat-optgroup>
              <mat-optgroup>
                LICENSE 3 SEMESTRE 2
                <mat-option value="l3-s2-séquence-1">Séquence : 1</mat-option>
                <mat-option value="l3-s2-séquence-2">Séquence : 2</mat-option>
                <mat-option value="l3-s2-séquence-3">Séquence : 3</mat-option>
                <mat-option value="l3-s2-séquence-4">Séquence : 4</mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-hint>Titre</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <!-- Partie du lien-->
      <div class="col-12 col-md-4">
        <div class="form-group mt-4">
          <mat-form-field appearance="outline">
            <mat-label>Entrez le lien de la video</mat-label>
            <input
              required
              matInput
              type="text"
              placeholder="https://..."
              formControlName="url"
            />
            <mat-hint>URL de la video</mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-success mt-4"
          [disabled]="myForm.invalid || diseableBtnEnregistre"
        >
          Enregistrer
        </button>
        <button
          type="reset"
          class="btn btn-danger mt-4"
          [disabled]="myForm.invalid || diseableBtnEnregistre"
        >
          Effacer
        </button>
      </div>
    </div>
  </form>
</div>
<svg
  viewBox="0 0 300 200"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="80%"
  id="blobSvg"
>
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color: rgb(233, 100, 67)"></stop>
      <stop offset="100%" style="stop-color: rgb(144, 78, 149)"></stop>
    </linearGradient>
  </defs>
  <path fill="url(#gradient)">
    <animate
      attributeName="d"
      dur="10000ms"
      repeatCount="indefinite"
      values="M416.5,296Q360,342,316,359.5Q272,377,224,377.5Q176,378,140,340.5Q104,303,75,239.5Q46,176,113,152.5Q180,129,232.5,91.5Q285,54,336,94.5Q387,135,430,192.5Q473,250,416.5,296Z;
        
        M384.5,295Q357,340,315.5,362Q274,384,209.5,408Q145,432,82.5,383Q20,334,67.5,267.5Q115,201,131.5,137Q148,73,215.5,69Q283,65,326,107.5Q369,150,390.5,200Q412,250,384.5,295Z;
        
        M379.5,292Q350,334,311.5,358Q273,382,208.5,407.5Q144,433,111,372.5Q78,312,69.5,246.5Q61,181,117.5,149.5Q174,118,226,105Q278,92,356.5,93Q435,94,422,172Q409,250,379.5,292Z;
        
        M386.5,293Q353,336,321,403.5Q289,471,221,445Q153,419,135.5,358.5Q118,298,123.5,252Q129,206,137,137Q145,68,219,36Q293,4,336.5,72.5Q380,141,400,195.5Q420,250,386.5,293Z;
        
        M459.5,324Q427,398,350,390Q273,382,216,394.5Q159,407,121.5,358.5Q84,310,100,255.5Q116,201,148.5,166Q181,131,226.5,127.5Q272,124,351,111.5Q430,99,461,174.5Q492,250,459.5,324Z;
        
        M416.5,296Q360,342,316,359.5Q272,377,224,377.5Q176,378,140,340.5Q104,303,75,239.5Q46,176,113,152.5Q180,129,232.5,91.5Q285,54,336,94.5Q387,135,430,192.5Q473,250,416.5,296Z"
    ></animate>
  </path>
</svg>
<svg
  viewBox="30 0 700 500"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="100%"
  id="blobSvg"
>
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color: rgb(233, 208, 67)"></stop>
      <stop offset="100%" style="stop-color: rgb(149, 78, 122)"></stop>
    </linearGradient>
  </defs>
  <path fill="url(#gradient)">
    <animate
      attributeName="d"
      dur="10000ms"
      repeatCount="indefinite"
      values="M416.5,296Q360,342,316,359.5Q272,377,224,377.5Q176,378,140,340.5Q104,303,75,239.5Q46,176,113,152.5Q180,129,232.5,91.5Q285,54,336,94.5Q387,135,430,192.5Q473,250,416.5,296Z;
                  
        M386.5,293Q353,336,321,403.5Q289,471,221,445Q153,419,135.5,358.5Q118,298,123.5,252Q129,206,137,137Q145,68,219,36Q293,4,336.5,72.5Q380,141,400,195.5Q420,250,386.5,293Z;
        
        M459.5,324Q427,398,350,390Q273,382,216,394.5Q159,407,121.5,358.5Q84,310,100,255.5Q116,201,148.5,166Q181,131,226.5,127.5Q272,124,351,111.5Q430,99,461,174.5Q492,250,459.5,324Z;
        
        M384.5,295Q357,340,315.5,362Q274,384,209.5,408Q145,432,82.5,383Q20,334,67.5,267.5Q115,201,131.5,137Q148,73,215.5,69Q283,65,326,107.5Q369,150,390.5,200Q412,250,384.5,295Z;
        
        M379.5,292Q350,334,311.5,358Q273,382,208.5,407.5Q144,433,111,372.5Q78,312,69.5,246.5Q61,181,117.5,149.5Q174,118,226,105Q278,92,356.5,93Q435,94,422,172Q409,250,379.5,292Z;

        M416.5,296Q360,342,316,359.5Q272,377,224,377.5Q176,378,140,340.5Q104,303,75,239.5Q46,176,113,152.5Q180,129,232.5,91.5Q285,54,336,94.5Q387,135,430,192.5Q473,250,416.5,296Z"
    ></animate>
  </path>
</svg>
