<div class="container-fluid">
  <div class="img01"></div>

  <div class="container-form">
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
      <div class="row">
        <!-- Partie du Language-->
        <div class="col-12 col-md-4">
          <div class="form-group mt-4">
            <mat-form-field appearance="outline">
              <mat-label>Java Php JavaScript Python ect</mat-label>
              <input
                required
                #langLength
                maxlength="15"
                matInput
                type="text"
                placeholder="Java  ect ..."
                formControlName="language"
              />
              <mat-hint>Language</mat-hint>
              <mat-hint align="end">{{ langLength.value.length }}/15</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <!-- Partie de la documentation-->
          <div class="form-group mt-4">
            <mat-form-field appearance="outline">
              <mat-label
                >Entrez la documentation portant sur cet plugin</mat-label
              >
              <textarea
                #detailsLength
                maxlength="500"
                rows="7"
                required
                matInput
                placeholder="Entrez la documentation portant sur cet plugin"
                formControlName="documentation"
              ></textarea>
              <mat-hint>documentation</mat-hint>
              <mat-hint align="end"
                >{{ detailsLength.value.length }}/500</mat-hint
              >
            </mat-form-field>
          </div>
        </div>
        <!-- Partie du code plugin-->
        <div class="col-12 col-md-4">
          <div class="form-group mt-4">
            <mat-form-field appearance="outline">
              <mat-label>coller le code portant sur cet plugin</mat-label>
              <textarea
                rows="7"
                required
                matInput
                placeholder="Coller le code ici"
                formControlName="code"
              ></textarea>
              <mat-hint>code plugin</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            type="submit"
            class="btn btn-success mt-4"
            [disabled]="myForm.invalid || diseableBtnEnregistre"
          >
            Enregistrer
          </button>
          <button
            type="reset"
            class="btn btn-danger mt-4"
            [disabled]="myForm.invalid || diseableBtnEnregistre"
          >
            Effacer
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
