.container-fluid {
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.container-form,
.form,
.container-fluid,
.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.img01 {
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
svg {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: animeAfterBefor 5s linear infinite;
}

@keyframes animeAfterBefor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.container-form {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 80%;
  z-index: 2;
  background-image: url("src/app/images/undraw_programmer_re_owql.svg");
  background-size: 100px;
  background-repeat: no-repeat;
}
mat-hint,
mat-label {
  font-weight: bold;
  color: white;
}
.btn-danger {
  margin: 0 0 15px 15px;
}
.btn-success {
  margin-bottom: 15px;
}
