.general_Parent,
.sid {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}
.logo {
  font-weight: bold;
}
.panel {
  display: flex;
  justify-content: center;
}

.btnNavSide {
  margin-top: 90px;
  opacity: 0.3;
  z-index: 2;
  position: fixed;
}
.btnNavSide:hover {
  font-weight: bold;
  opacity: 1;
}
.sideNave {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: fixed;
}
h1 {
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
