.example-container {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  background: #333;
}
li:hover {
  border-radius: 8px;
  box-shadow: 0 5px 0px whitesmoke;
  border: 1px solid whitesmoke;
  transition: 0.5s;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  position: relative;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active-item-nav {
  box-shadow: #0f0 1px 1px 2px 1px;
}
@keyframes aa {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navbar-expand-sm {
  position: fixed;
  z-index: 20;
  width: 100%;
}
.container {
  margin-top: 65px;
}
.general_Parent,
.sid {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}
.logo {
  font-weight: bold;
}

.btnNavSide {
  margin-top: 90px;
  opacity: 0.3;
  z-index: 2;
  position: fixed;
}
.btnNavSide:hover {
  font-weight: bold;
  opacity: 1;
}
.sideNave {
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: fixed;
}
.listeSideNave {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
}
.nav-side{
  border-radius: 5px;
  margin-top: 8px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 0px #d7d7d7, inset -5px -5px 0px #e9e9e9;
  width: 100%;
}
.deconnexion {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  bottom: 0;
}
list-group {
  position: relative;
}

h1 {
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.userDesconnect {
  color: rgb(250, 15, 15);
}
.userConnect {
  color: rgb(62, 245, 102);
}
