.general_Parent,
.sid {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logo {
  font-weight: bold;
}

.btnNavSide {
  margin-top: 90px;
  opacity: 0.3;
  z-index: 2;
  position: fixed;
}
.btnNavSide:hover {
  font-weight: bold;
  opacity: 1;
}
.sideNave {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: fixed;
}
list-group {
  position: relative;
}
.deconnexion {
  position: absolute;
  bottom: 0px;
}
h1 {
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
