<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer class="sideNave" #drawer mode="over">
    <ul class="list-group">
      <li class="list-group-item"><h1>CIDAD</h1></li>
      <a [routerLink]="['/profilUser']"
        ><li class="list-group-item"><i class="fas fa-user"></i>PROFIL</li></a
      >

      <a>
        <a [routerLink]="['/editUser']"
          ><li class="list-group-item">
            <i class="fas fa-user"></i>EDIT PROFIL
          </li></a
        ></a
      >

      <li class="list-group-item"><i class="fas fa-school"></i>UVS-IDA</li>
      <a [routerLink]="['/parametre']">
        <li class="list-group-item"><i class="fas fa-cogs"></i>PARAMETRE</li></a
      >
      <li class="list-group-item deconnexion">
        DECONNEXION<span class="fas fa-sign-out-alt"></span>
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-fluid general_Parent w-100">
      <div class="row bg-dark">
        <div class="col-12">
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
              <a
                class="navbar-brand logo"
                [routerLink]="['/ecm']"
                routerLinkActive="router-link-active"
                >ECM</a
              >
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item" *ngIf="user_Connected">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/enregistre']"
                      routerLinkActive="router-link-active"
                      >Enregistrer</a
                    >
                  </li>

                  <li class="nav-item" *ngIf="user_Connected">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      style="cursor: pointer"
                      (click)="onsignOut()"
                      >Déconnexion</a
                    >
                  </li>

                  <li class="nav-item" *ngIf="!user_Connected">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/connexion']"
                      routerLinkActive="router-link-active"
                      >Connexion</a
                    >
                  </li>
                  <li class="nav-item" *ngIf="!user_Connected">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/inscription']"
                      routerLinkActive="router-link-active"
                      >Inscription</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <button class="btnNavSide" mat-raised-button (click)="drawer.toggle()">
        <i class="fab fa-accusoft"></i>CIDAD
      </button>
      <div class="container-fluid g sid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
