<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer class="sideNave" #drawer mode="over">
    <ul class="list-group listeSideNave">
      <mat-menu #aboveMenuNbr="matMenu" yPosition="above">
        <p>
          Salut {{ prenomUserConnected }} <br />
          Vous pouvez envoyez des commentaires ou signalez un problème dans aide
          puis cliquer sur (CIDAD)
        </p>
      </mat-menu>
      <li [matMenuTriggerFor]="aboveMenuNbr" class="list-group-item">
        <h1 style="letter-spacing: 4px">CIDAD</h1>
        <h3 style="text-transform: uppercase">{{ nomUserConnected }}</h3>
      </li>
      <li (click)="navSideNave('profilUser')" class="list-group-item nav-side">
        <i class="fas fa-user"></i>
        <a>PROFIL</a>
      </li>
      <li (click)="navSideNave('editUser')" class="list-group-item nav-side">
        <i class="fas fa-user-cog"></i>
        <a> EDIT PROFIL</a>
      </li>

      <li class="list-group-item nav-side">
        <i class="fas fa-school"></i>
        <a
          style="color: black ;text-decoration: none;"
          href="https://formation.uvs.sn/front_pagefiliere_IDA"
          target="blank"
        >
          UVS-IDA
        </a>
      </li>

      <li (click)="navSideNave('parametre')" class="list-group-item nav-side">
        <i class="fas fa-cogs"></i>
        <a> PARAMÉTRE </a>
      </li>
      <li
        (click)="navSideNave('/local/init/EcmBd')"
        class="list-group-item nav-side"
      >
        <i class="fas fa-database"></i>
        <a> BD LOCAL </a>
      </li>
      <li (click)="onVerifyUser()" class="list-group-item deconnexion nav-side">
        DECONNEXION<span class="fas fa-sign-out-alt"></span>
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-fluid general_Parent w-100">
      <div class="row bg-dark">
        <div class="col-12">
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
              <a
                (click)="animSideNav()"
                (click)="drawer.toggle()"
                class="navbar-brand logo"
                routerLinkActive="router-link-active"
              >
                <i class="fas fa-bars"></i> ECM</a
              >
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li
                    (click)="onActiveAnim('post')"
                    class="nav-item"
                    [ngClass]="{ 'active-item-nav': activePost }"
                    *ngIf="user_Connected"
                  >
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/ecm']"
                      routerLinkActive="router-link-active"
                      >AppPost</a
                    >
                  </li>
                  <li
                    (click)="onActiveAnim('video')"
                    class="nav-item"
                    [ngClass]="{ 'active-item-nav': activeVideo }"
                    *ngIf="user_Connected"
                  >
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/appVideo']"
                      routerLinkActive="router-link-active"
                      >AppVideo</a
                    >
                  </li>
                  <li
                    (click)="onActiveAnim('plugin')"
                    class="nav-item"
                    [ngClass]="{ 'active-item-nav': activePlugin }"
                    *ngIf="user_Connected"
                  >
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/appPlugin']"
                      routerLinkActive="router-link-active"
                      >AppPlugin</a
                    >
                  </li>

                  <li
                    (click)="onActiveAnim('savePost')"
                    class="nav-item"
                    [ngClass]="{ 'active-item-nav': activeSavePost }"
                    *ngIf="user_Connected"
                  >
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/enregistre']"
                      routerLinkActive="router-link-active"
                      >Enregistrer Post</a
                    >
                  </li>
                  <li
                    (click)="onActiveAnim('saveVideo')"
                    class="nav-item"
                    [ngClass]="{ 'active-item-nav': activeSaveVideo }"
                    *ngIf="user_Connected"
                  >
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/EnregistreVideo']"
                      routerLinkActive="router-link-active"
                      >Partager URL-Video</a
                    >
                  </li>
                  <li
                    (click)="onActiveAnim('savePlugin')"
                    class="nav-item"
                    [ngClass]="{ 'active-item-nav': activeSavePlugin }"
                    *ngIf="user_Connected"
                  >
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/EnregistrePlugin']"
                      routerLinkActive="router-link-active"
                    >
                      Enregistrer Plugin</a
                    >
                  </li>

                  <li
                    (click)="genereTokent()"
                    class="nav-item"
                    *ngIf="user_Connected"
                  >
                    <a
                      class="nav-link active"
                      aria-current="page"
                      routerLinkActive="router-link-active"
                    >
                      Généré Token</a
                    >
                  </li>
                  <li *ngIf="user_Connected" class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Paramètres Affichage
                    </a>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="navbarDropdownMenuLink"
                    >
                      <li
                        *ngIf="affichageParametreEcm"
                        (click)="onOpenBtnDetails()"
                      >
                        <a class="dropdown-item" *ngIf="!open_btn_details"
                          >Déployer Bouton détails</a
                        >
                        <a class="dropdown-item" *ngIf="open_btn_details">
                          Ranger Bouton détails</a
                        >
                      </li>
                      <li *ngIf="affichageParametreEcm" (click)="openBlocBtn()">
                        <a class="dropdown-item" *ngIf="!open_btn"
                          >Déployer Pallette Boutons</a
                        >
                        <a class="dropdown-item" *ngIf="open_btn"
                          >Ranger Pallette Boutons</a
                        >
                      </li>
                      <li
                        *ngIf="affichageParametreEcm"
                        (click)="ligneAnimation()"
                      >
                        <a class="dropdown-item" *ngIf="!ligne_animation"
                          >Activer Animation Pallettes</a
                        >
                        <a class="dropdown-item" *ngIf="ligne_animation"
                          >Arreter Animation Pallettes</a
                        >
                      </li>
                      <li *ngIf="affichageParametregeneral" (click)="openBtn()">
                        <a class="dropdown-item" *ngIf="!open_btn_General"
                          >Déployer Boutons</a
                        >
                        <a class="dropdown-item" *ngIf="open_btn_General"
                          >Ranger Boutons</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li
                    (click)="onActiveAnim('aide')"
                    class="nav-item"
                    [ngClass]="{ 'active-item-nav': activeAide }"
                    *ngIf="user_Connected"
                  >
                    <a
                      [routerLink]="['/aide']"
                      class="nav-link active"
                      aria-current="page"
                      routerLinkActive="router-link-active"
                    >
                      Aide</a
                    >
                  </li>
                </ul>
                <li class="nav-item">
                  <span *ngIf="etatConnexionUser">
                    <i class="userConnect fas fa-wifi"></i>
                  </span>
                  <span *ngIf="!etatConnexionUser">
                    <i class="userDesconnect fas fa-wifi"></i>
                  </span>
                </li>
                <li
                  (click)="onActiveAnim('connexion')"
                  class="nav-item"
                  [ngClass]="{ 'active-item-nav': activeConnexion }"
                  *ngIf="!user_Connected"
                >
                  <a
                    class="nav-link active"
                    aria-current="page"
                    [routerLink]="['/connexion']"
                    routerLinkActive="router-link-active"
                    >Connexion</a
                  >
                </li>
                <li
                  (click)="onActiveAnim('inscription')"
                  class="nav-item"
                  [ngClass]="{ 'active-item-nav': activeInscription }"
                  *ngIf="!user_Connected"
                >
                  <a
                    class="nav-link active"
                    aria-current="page"
                    [routerLink]="['/inscription']"
                    routerLinkActive="router-link-active"
                    >Inscription</a
                  >
                </li>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="container-fluid sid">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
