<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer class="sideNave" #drawer mode="over">
    <ul class="list-group">
      <li class="list-group-item"><h1>CIDAD</h1></li>
      <li class="list-group-item">
        <a [routerLink]="['/profilUser']"><i class="fas fa-user"></i>PROFIL</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/editUser']">
          <i class="fas fa-user"></i>EDIT PROFIL</a
        >
      </li>

      <li class="list-group-item">
        <a href=""> <i class="fas fa-school"></i>UVS-IDA </a>
      </li>

      <li class="list-group-item">
        <a [routerLink]="['/parametre']">
          <i class="fas fa-cogs"></i>PARAMETRE
        </a>
      </li>
      <li (click)="onsignOut()" class="list-group-item deconnexion">
        DECONNEXION<span class="fas fa-sign-out-alt"></span>
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-fluid general_Parent w-100">
      <div class="row bg-dark">
        <div class="col-12">
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
              <a
                class="navbar-brand logo"
                [routerLink]="['/ecm']"
                routerLinkActive="router-link-active"
                >ECM</a
              >
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item" *ngIf="user_Connected">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/appPlugin']"
                      routerLinkActive="router-link-active"
                      >AppPlugin</a
                    >
                  </li>
                  <li class="nav-item" *ngIf="user_Connected">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/enregistre']"
                      routerLinkActive="router-link-active"
                      >Enregistrer Post</a
                    >
                  </li>
                  <li class="nav-item" *ngIf="user_Connected">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      [routerLink]="['/EnregistrePlugin']"
                      routerLinkActive="router-link-active"
                    >
                      Enregistrer Plugin</a
                    >
                  </li>
                  <li *ngIf="user_Connected" class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      id="navbarDropdownMenuLink"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Paramètres Affichage
                    </a>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="navbarDropdownMenuLink"
                    >
                      <li
                        *ngIf="affichageParametreEcm"
                        (click)="onOpenBtnDetails()"
                      >
                        <a class="dropdown-item" *ngIf="!open_btn_details"
                          >Déployer Bouton détails</a
                        >
                        <a class="dropdown-item" *ngIf="open_btn_details">
                          Ranger Bouton détails</a
                        >
                      </li>
                      <li *ngIf="affichageParametreEcm" (click)="openBlocBtn()">
                        <a class="dropdown-item" *ngIf="!open_btn"
                          >Déployer Pallette Boutons</a
                        >
                        <a class="dropdown-item" *ngIf="open_btn"
                          >Ranger Pallette Boutons</a
                        >
                      </li>
                      <li
                        *ngIf="affichageParametreEcm"
                        (click)="ligneAnimation()"
                      >
                        <a class="dropdown-item" *ngIf="!ligne_animation"
                          >Activer Animation Pallettes</a
                        >
                        <a class="dropdown-item" *ngIf="ligne_animation"
                          >Arreter Animation Pallettes</a
                        >
                      </li>
                      <li
                        *ngIf="affichageParametrePlugin"
                        (click)="openBtnCardPlugin()"
                      >
                        <a class="dropdown-item" *ngIf="!open_btn_Card_Plugin"
                          >Déployer Boutons</a
                        >
                        <a class="dropdown-item" *ngIf="open_btn_Card_Plugin"
                          >Ranger Boutons</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>

                <li class="nav-item" *ngIf="!user_Connected">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    [routerLink]="['/connexion']"
                    routerLinkActive="router-link-active"
                    >Connexion</a
                  >
                </li>
                <li class="nav-item" *ngIf="!user_Connected">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    [routerLink]="['/inscription']"
                    routerLinkActive="router-link-active"
                    >Inscription</a
                  >
                </li>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <button class="btnNavSide" mat-raised-button (click)="drawer.toggle()">
        <i class="fab fa-accusoft"></i>CIDAD
      </button>
      <div class="container-fluid sid">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
