.alert-success,
.alert-danger {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.colNotify {
  position: relative;
  overflow: hidden;
}

.alert-notify {
  color: white;
  border-radius: 5px;
  background-color: rgb(62, 245, 102);
  border: 1px solid rgb(62, 245, 102);
  z-index: 5;
  position: absolute;
  width: 210px;
  height: 68px;
  right: -250px;
  top: 50px;
}
.alert-notify p {
  font-weight: bold;
}
.fa-thumbs-up {
  font-size: 25px;
}

.date,
.etat {
  font-weight: bold;
  float: right;
}
h3,
.nbrReponse,
button {
  color: whitesmoke;
  font-weight: bold;
}
.ligne {
  box-shadow: 3px 3px rgb(31, 30, 30);
  margin-left: 10px;
}
.spinner-grow {
  align-items: center;
  justify-content: center;
  width: 18px;
  height: auto;
}
.initiale {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: whitesmoke;
}

.parent-search {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.fa-search {
  margin-right: 8px;
  color: rgb(153, 147, 147);
}
.btn-search {
  font-size: 10px;
}

@keyframes anim {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 333px;
  }
}
