.notification {
  background: linear-gradient(
    -30deg,
    #03a9f4 0%,
    #3a78b7 50%,
    #262626 50%,
    #607d8b 100%
  );
  overflow: hidden;
}

.date,
.etat {
  font-weight: bold;
  float: right;
}
h3,
.nbrReponse,
button {
  font-weight: bold;
}
.ligne {
  box-shadow: 3px 3px rgb(31, 30, 30);
  margin-left: 10px;
}
.spinner-grow {
  align-items: center;
  justify-content: center;
  width: 18px;
  height: auto;
}
.initiale {
  margin-left: 2.5px;
  font-weight: bold;
  color: whitesmoke;
}

.parent-search {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.fa-search {
  margin-right: 8px;
  color: rgb(153, 147, 147);
}
.btn-search {
  font-size: 10px;
}
