<div class="container">
  <div class="alert alert-info mt-3">
    <div class="row">
      <div class="blocNom col-12 col-md-8 col-lg-8">
        <p class="nomUser">{{ nomUserBug }}</p>
        <p class="nomUser">{{ prenomUserBug }}</p>
        <p class="nomUser">{{ promoUserBug }}</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          <div class="col- 12">
            <strong>language</strong><br />
            {{ bugCmp.language }}
          </div>
        </div>
        <div class="row">
          <div class="col- 12">
            <strong>Date de la Poste</strong><br />
            {{ bugCmp.date | date: "short" }}
          </div>
        </div>
        <div class="row">
          <div class="col- 12">
            <strong>Etat du Problème</strong><br />
            <span
              [ngStyle]="{ color: bugCmp.etat == 'Résolu' ? 'green' : 'red' }"
            >
              {{ bugCmp.etat }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col- 12">
            <strong>Nombres de réponse (s)</strong><br />
            {{ tbReponseBug.length }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <pre class="mb-3 overflow-auto p-2 mr-3" style="width: 100%; height: 500px">
         {{ bugCmp.codeBug[indiceCodeBug] }}</pre
    >
    <button
      *ngIf="bugCmp.codeBug.length > 1"
      class="btn btn-sm-outline"
      (click)="onCodeBug1()"
    >
      Voir Code Bug 1
    </button>
    <button
      *ngIf="bugCmp.codeBug.length > 1"
      class="btn btn-sm-outline"
      (click)="onCodeBug2()"
    >
      Voir Code Bug 2
    </button>
    <button
      *ngIf="bugCmp.codeBug.length > 2"
      class="btn btn-sm-outline"
      (click)="onCodeBug3()"
    >
      Voir Code Bug 3
    </button>
    <div class="card-body">
      <h1 class="card-title" style="font-weight: bold">{{ bugCmp.titre }}</h1>
      <h4 class="card-text">{{ bugCmp.details }}</h4>
    </div>
  </div>
  <!-- Partie de la Reponse -->
  <div class="row mt-4">
    <div class="col-12">
      <legend>
        <i class="fas fa-hand-holding-medical" style="color: green"></i> UNE
        SOLUTION {{ nomUserConnected }} {{ prenomUserConnected }}
      </legend>
      <div class="row">
        <div class="col-12">
          <textarea
            class="form-control"
            rows="2"
            [(ngModel)]="reponse"
            minlength="5"
            placeholder="Collez votre reponse ici ...Min 5 caractères"
          ></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button
            class="btn btnrepondre"
            [disabled]="reponse.length < 5"
            (click)="onSubmitForm()"
          >
            Répondre
          </button>
          <button class="btn btnannuler" (click)="onResetForm()">
            Annuler
          </button>
        </div>
      </div>

      <!-- Fin Partie de la Reponse -->
    </div>
  </div>
  <div class="container-fluid containerParent">
    <app-viewdetails
      [nom]="nomUserReponse"
      [prenom]="prenomUserReponse"
      [promo]="promoUserReponse"
      [fantome]="fantomeReponse"
      [tbReponseBug]="tbReponseBug"
      [totalPage]="totalPage"
      [user_Id_Connect]="user_Id_Connect"
      [user_Id_Bug]="user_Id_Bug"
    >
    </app-viewdetails>
  </div>
</div>
