<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="alert alert-info">
        <strong>CIDAD!</strong>Tout les informations liees a CIDAD seront
        afficher ici...
      </div>

      <h1>Hello, Word !</h1>
    </div>
    <div class="col-12 mt-3">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://media.gettyimages.com/photos/dedicated-to-software-development-picture-id616902766?k=6&m=616902766&s=612x612&w=0&h=18f3IaaCoGnahELgFRmEixHm3ZFCYD7dWpBuxSKMBEA="
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://media.gettyimages.com/photos/confident-asian-businesswoman-in-office-picture-id1212006375?k=6&m=1212006375&s=612x612&w=0&h=kjeSFIPkqMJk9RPJaECH7qWPYLB96RJqtFjlWzYdElc="
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://media.gettyimages.com/photos/successful-it-developer-picture-id1150528651?k=6&m=1150528651&s=612x612&w=0&h=dT0ji6FYqCq66vHZZqZ6MaqUJYD4wWlio3uZjw23ZDw="
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://media.gettyimages.com/photos/graphic-designers-at-work-picture-id694072990?k=6&m=694072990&s=612x612&w=0&h=WR6WT93uuVwPU5LYhfjid2bUq8r3Cfr8gSgKzmbSaac="
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-5">
    <div class="row mt-5 container_Parent_Card">
      <div class="col-12 col-lg-3 mt-4 container_Fils_Card">
        <div class="card">
          <img
            class="card-img-bottom"
            src="https://media.gettyimages.com/photos/software-developers-solving-a-problem-picture-id947740376?k=6&m=947740376&s=612x612&w=0&h=kJMjk8sK4YXccdnRomDD6Dxg5hiTEMnSAfccsIqXlQQ="
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Ensemble trouvons une solution</h5>
            <p class="card-text">Contient la partie pourtant sur ces détails</p>
          </div>
          <div class="col-12 m-3">
            <button type="button" class="btn btn-outline-primary">
              Explorer
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mt-4 container_Fils_Card">
        <div class="card">
          <img
            class="card-img-bottom"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzDfo-ITbimdgdl2B14A1SQv8oTb7LwrdEdA&usqp=CAU"
          />
          <div class="card-body">
            <h5 class="card-title">Partager vos problèmes résolus</h5>
            <p class="card-text">Contient la partie pourtant sur ces détails</p>
          </div>
          <div class="col-12 m-3">
            <button type="button" class="btn btn-outline-primary">
              Explorer
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 mt-4 container_Fils_Card">
        <div class="card">
          <img
            class="card-img-bottom w-100"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT--R7ZzUsK4Ij11WB9GixQA2Tg1QsEqXsGBA&usqp=CAU"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Trouver de l'aide</h5>
            <p class="card-text">Contient la partie pourtant sur ces détails</p>
          </div>
          <div class="col-12 m-3">
            <button type="button" class="btn btn-outline-primary">
              Explorer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
