.date,
.etat {
  font-weight: bold;
  float: right;
}
h4,
.nbrReponse,
button {
  font-weight: bold;
}
.ligne {
  box-shadow: 3px 3px rgb(31, 30, 30);
  margin-left: 10px;
}

.user:hover {
  clip-path: circle(50% at 50% 50%);
  color: white;
}

.details {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 16;

  color: rgb(255, 255, 255);
}

.paginate {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
