.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;

  overflow: hidden;
}
.container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(40% at right 80%);
}
.container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(40% at 25% 10%);
}
.forme {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 80%;
  z-index: 2;
}

.col-lg-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
button {
  font-weight: bold;
}
.example-box {
  background-color: blueviolet;
  border-radius: 20px;
  text-align: center;
}

.button {
  overflow: hidden;
}

.box {
  z-index: 5;
  display: block;
  color: rebeccapurple;
}
