<form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
  <!-- Partie du Language-->
  <div class="form-group mt-4">
    <mat-form-field appearance="outline">
      <mat-label>Java Php JavaScript Python ect</mat-label>
      <input
        required
        #langLength
        [(ngModel)]="language"
        maxlength="15"
        matInput
        type="text"
        placeholder="Java  ect ..."
        formControlName="language"
      />

      <mat-hint>Language</mat-hint>
      <mat-hint align="end">{{ langLength.value.length }}/15</mat-hint>
    </mat-form-field>
  </div>
  <!-- Partie de la documentation-->
  <div class="form-group mt-4">
    <mat-form-field appearance="outline">
      <mat-label>Entrez la documentation portant sur cet plugin</mat-label>
      <textarea
        #detailsLength
        [(ngModel)]="documentation"
        maxlength="500"
        rows="7"
        required
        matInput
        placeholder="Entrez la documentation portant sur cet plugin"
        formControlName="documentation"
      ></textarea>
      <mat-hint>documentation</mat-hint>
      <mat-hint align="end">{{ detailsLength.value.length }}/500</mat-hint>
    </mat-form-field>
  </div>
  <!-- Partie du code plugin-->
  <div class="form-group mt-4">
    <mat-form-field appearance="outline">
      <mat-label>coller le code portant sur cet plugin</mat-label>
      <textarea
        maxlength="500"
        [(ngModel)]="code"
        rows="7"
        required
        matInput
        placeholder="Coller le code ici"
        formControlName="code"
      ></textarea>
      <mat-hint>code plugin</mat-hint>
    </mat-form-field>
  </div>
  <button
    type="submit"
    class="btn btn-success mt-4"
    [disabled]="myForm.invalid"
  >
    Enregistrer
  </button>
</form>
